# Autosaves
*~

# LaTeX
*.aux
*.log
*.out
*.pdf

main.synctex.gz
__pycache__/skiplist.cpython-36.pyc
Programming/__pycache__/skiplist.cpython-36.pyc
Programming/__pycache__/SingleLinkedList.cpython-36.pyc
Theory/main.bbl
Theory/main.blg
